.text-highlight {
    color: #E83E8C;
}

.subtitle {
    font-weight: 300;
    font-size: 1.25rem;
}

.background-primary{
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.2);
    padding: 15px;
}

.font-bold {
    font-weight: 700 ;
}

.secondary {
    color: #ffc107 !important;
}

.divider {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem !important;
}